/* Здесь вы напишете основную часть стилей страницы. Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом: ✦ theme-dark — класс тёмной темы ✦ theme-light — класс светлой темы ✦ like-icon — для svg-иконки анимированного сердца ✦ card__like-button — для кнопки Like рядом с иконкой ✦ card__icon-button — для кнопки, оборачивающей иконку ✦ card__icon-button — для кнопки, оборачивающей иконку ✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца ✦ button__text — для обозначения текстового элемента внутри кнопки Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта. */
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--Inter);
  color: var(--accent-color);
  background-color: var(--bg-main-color);
  background-image: var( --bg-main-image);
  background-size: cover;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.header {
  margin: 102px auto 102px;
  background-color: var( --bg-main-color);
  min-block-size: 364px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-family: var(--PressStart2P);
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 2px solid var(--accent-color);
}

.header__title {
  font-size: var(--header-title-size);
  margin-bottom: 20px;
}

.header__description {
  font-size: var(--header-description-size);
  margin-bottom: 23px;
}

.theme-menu__list {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.theme-menu__list:last-child {
  margin-bottom: 23px;
}

.theme-menu__button {
  font-family: var(--PressStart2P);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: var(--bg-main-color);
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  position: relative;
  padding: 0;
  transition: opacity 0.3s ease;
  transition: scale 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6 ;
}

.theme-menu__button:hover, .theme-menu__button:disabled {
  transition: opacity 0.3s ease;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  inline-size: 100%;
  inset-inline-start: 0;
  height: 2px;
  margin-top: 14px;
  background-color: var(--accent-color);
  scale: 0;
  transform-origin: left;
  position: absolute;
  transition: scale 0.3s ease;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  scale: 1;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  animation: animation-arrow 0.5s ease-in-out infinite ;
  inset-inline-start: -20px;
}

.card {
  background-color:var(--bg-main-color);
  border: 2px solid var(--accent-color);
  display: flex;
  flex-direction: column;
}

.card:not(:last-of-type) {
  margin-bottom: 50px;
}

.card__title {
  font-family:var(--Inter);
  font-size: 18.5px;
  font-weight: 700;
  padding: 3px 24px 5px 10px;
  text-align: start;
  border-bottom: 2px solid var(--accent-color);
}

.section {
  position: relative;
}

.label {
  position: absolute;
  inset-block-start: 27px;
  inset-inline-end: 25px;
  color: var(--accent-color);
  font-family: var(--PressStart2P);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  z-index: 1;
  opacity: 0.5;
  text-shadow: 0 0 1px var(--bg-main-color);
}

@supports (-webkit-text-stroke: 1px var(--bg-main-color)) or (text-stroke: 1px var(--bg-main-color)) {
  .label {
    -webkit-text-stroke: 1px var(--bg-main-color);
    text-stroke: 1px var(--bg-main-colorr);
    text-shadow: none;
  }
}

.card__img {
  block-size: 100%;
  inline-size: 100%;
  object-position: center;
  object-fit: cover;
  display: block;
}

.contrast {
  filter: contrast(200%);
}

.opacity {
  filter: opacity(50%);
}

.sepia {
  filter: sepia(60%);
}

.grayscale {
  filter: grayscale(50%);
}

.brightness {
  filter: brightness(10);
}

.hue-rotate {
  filter: hue-rotate(45deg);
}

.filer__me {
  filter: contrast(175%) brightness(103%);
}

.card__text {
  font-family:var(--Inter);
  font-size: 18px;
  font-weight: var(--font-weight);
  line-height: 21px;
  display: inline-block;
}

.card__description {
  padding: 26px 25px;
  border-top: 2px solid var(--accent-color);
}

.card__memory {
  margin: 1px 25px 24px 25px;
}

.section__like {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0 25px 23px 25px;
}

.button {
  cursor: pointer;
  display: block;
  inline-size: 130px;
  position: relative;
  color: var(--text-button-color);
  padding: 10px 17px;
  border: 2px solid var(--accent-color);
  overflow: hidden;
  outline: none;
  background-color: var(--bg-main-color);
  transition: box-shadow 0.3s ease;
  font-size: 14px;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border 0.3s ease;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  transition: translate 0.5s ease-in-out;
  background-color: var(--accent-color);
  color: var(--text-button-color);
  translate: -100%;
}

.button:hover::before {
  translate: 0;
}

.button__text {
  text-align: center;
  font-family: var(--PressStart2P);
  font-weight: 400;
  line-height: 90%;
  mix-blend-mode: difference;
}

.card__icon-button {
  transition: border 0.3 ease;
  border: 2px solid transparent;
  outline: none;
  display: flex;
  background-color: var(--bg-main-color);
}

.like-icon {
  cursor: pointer;
  transform-origin: center;
}

.like-icon .heart__line {
  fill: var(--heart-line-color);
  transition: fill 0.1s linear;
}

.like-icon .heart__fill {
  fill: transparent;
  transition: fill 0.3s 0.3s linear;
}

.like-icon:hover .heart__krest {
  fill: var(--heart-line-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .heart__fill {
  fill: var(--heart-line-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .heart__krest {
  fill: var(--heart-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .heart__fill {
  fill: var(--heart-fill-color);
  transition: fill 0.3s 0.03s linear;
}

.like-icon.is-liked .heart__krest {
  fill: var(--heart-fill-color);
  transition: fill 0.3s 0.03s linear;
}

.like-icon.is-liked .heart__line {
  fill: var(--heart-fill-color);
  transition: fill 0.1s linear;
}

.like-icon .heart__krest {
  fill: transparent;
  transition: fill 0.3s 0.3s linear;
}

.like-icon .heart__iskri {
  opacity: 0;
}

.like-icon.is-liked .heart__iskri {
  animation: opacity 0.3s 0.3s ease-in 1 alternate;
}

.like-icon.is-liked {
  animation: scale 0.3s 0.1s ease-in 1 alternate;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.floppy {
  width: 21px;
  fill: var(--accent-color);
}

.floppy__blend {
  mix-blend-mode: difference;
}

.button__footer {
  margin: 50px auto 105px;
  max-width: 335px;
  width: 100%;
  min-height: 54px;
  border: 2px solid var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.button__text__footer {
  border: none;
  max-width: 266px;
  width: 100%;
  padding: 0;
  text-align: center;
  align-self: center;
}

.dialog {
  box-sizing: border-box;
  max-width: 357px;
  width: 100%;
  min-block-size: 193px;
  color: var(--accent-color);
  font-family: var(--PressStart2P);
  outline: 2px solid var(--accent-color);
  border: none;
  font-size: 14px;
  background-color: var(--bg-main-color);
  padding: 30px;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.content__dialog {
  display: flex;
  justify-content: end;
  gap: 21px;
}

.floppy__footer {
  min-inline-size: 39px;
}

.dialog__close {
  width: 293px;
}

.dialog__text {
  text-transform: uppercase;
  line-height: 150%;
  font-size: 14px;
  font-weight: 400;
}

@media (width<=375px) {
  .page {
    inline-size: 100%;
    margin-left: auto;
    margin-right: auto;
 }

  .button__footer {
    max-width: 308px;
    min-height: 80px;
    flex-direction: column;
 }
 
  .dialog {
    padding: 30px 40px;
    inline-size: 100%;
 }
}
